<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskelige</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header class="hero">
    <nav class="navbar">
        <h1 class="logo">Ønskelige</h1>
        <div class="nav-buttons">
            <a href="/user/login" class="btn">Log ind</a>
            <a href="/user/register" class="btn btn-primary">Opret bruger</a>
        </div>
    </nav>

    <section class="hero-content">
        <div class="hero-text">
            <h2> Saml og del dine ønsker ét sted</h2>
            <p>La dine digitale ønskeseddel nemt, hurtigt og overskueligt.</p>
            <a href="/user/register" class="btn btn-primary">Kom i gang</a>
        </div>

        <div class="hero-image">
            <img src="/static/wishlist.jpg" alt="illustration af ønskelig">
        </div>
    </section>
</header>

<main>
    <section class="about">
        <h3>Om os</h3>
        <p>Ønskelig er en digital ønskeseddel, hvor du nemt kan samle dine ønsker ét sted.
            Målet er at gøre det enkelt og overskueligt at holde styr på dine ønsker
        </p>
    </section>

    <section class="contact">
        <h3>Kontakt</h3>
        <p>Email: Ønskelig@gmail.com</p>
        <p>Telefon: 11 22 33 44</p>
    </section>
</main>




</body>
</html>