<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ønskelige</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="form-page">
    <div class="form-box">
        <h1>Log ind</h1>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Skriv din email" required>
            <input type="password" name="password" placeholder="Skriv din kode" required>
            <button type="submit" class="btn btn-primary">Log ind</button>
        </form>

        <p>Har du ikke en bruger? <a href="/register">Opret dig her</a></p>
    </div>
</main>

</body>
</html>