<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
    <form action="/register" method="post">
        <p>
            <input type="text" name="name" placeholder="Skriv din navn" required>
            <input type="email" name="email"  placeholder="Skriv din email" required>
            <input type="password" name="password"  placeholder="Skriv din kode" required>
            <input type="date" name="birthdate"  placeholder="indtast din fødselsdag" required>
        </p>

        <p>
            <button>Opret bruger</button>
        </p>
    </form>
</body>
</html>