<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Ønskeliste</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <h1>Ønskeliste</h1>
    <form action="/wishlist/" method="post">
        <input type="text" name="name" placeholder="Navn på liste">
        <input type="hidden" name="userId" value="1">
        <button>Opret Ønskeliste</button>
    </form>
        <ul>
            <li th:each="w: ${wishlists}">
                <a th:href="@{/wishlist(wishListId=${w.id})}" th:text="${w.name}">
                </a>
            </li>
        </ul>
    </body>
    </html>